*{
    padding: 0%;
    margin: 0%;

}
.cal{
    text-align: center;
    height: 330px;
    margin-top: 20px;
    padding-top: 90px;
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    
    
    
}
button{
    height: 60px;
    width: 80px;
    border-radius: 30px;
   background-color:lightgray;
}


    
